div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;   
}

.content{
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.9);
    padding: 20px;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("https://i.pinimg.com/564x/2f/72/31/2f7231f8e669be396a7c19c76f968a1e.jpg");
    background-size: 350px; 
    background-repeat: repeat;
    background-position: 0px 0px; 
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.one{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0.8;
    text-align: center;
}

span{
    font-size: 15px;
}

#count{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0.8;
    margin-top: 130px;
}

#increment-btn{
    padding: 10px 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: maroon;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: opacity 0.1s;
}

#increment-btn:hover{
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.3);
}

#increment-btn:active{
    opacity: 0.5;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;   
    background-image: url("Screenshot_2022-08-30_15-14-57.png"); 
}

#save-btn{
    padding: 3px 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(18, 143, 137);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: opacity 0.1s;
}

#save-btn:hover{
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.3);
}

#save-btn:active{
    opacity: 0.5;
}

.but{
    display: flex;
    flex-direction: row;
    column-gap: 20px;

}

.sec{
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background-image: url("https://i.pinimg.com/564x/ed/0d/cd/ed0dcdf6f09871aab5fda928f3a9cf12.jpg");
    background-size: 350px; 
    background-repeat: repeat;
    background-position: 0px 0px; 
    border-radius: 10px;
}

#display1{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0.8;
    text-align: center;
}

#display{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: maroon;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-image: url("https://i.pinimg.com/564x/f4/19/ea/f419ea89581db57fb6dd31bbfd151131.jpg");
    background-size: 350px; 
    background-repeat: repeat;
    background-position: 0px 0px; 
    margin-left: 10px;
    border-style: solid;
    border-color: white;
}